<!doctype html>
<html lang="hu">
<head>
    <%- include('header') -%>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Elfelejtett jelszó</h1>
    <h3>Email tartalma:</h3>
    <div>
        Kedves <%= username %>
    </div>
    <div>
        A jelszavad helyreállításához kattints az alábbi linkre
    </div>
    <div>
        <a href="/reset-password?token=<%= passwordResetToken %>">Jelszó helyreállítása</a>
    </div>
</div>
<%- include('footer') -%>
</body>
</html>