@import "common.css";

.edit-car-container {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title h1 {
    max-width: 600px;
    width: 100%;
}


.edit-form {
    max-width: 600px;
    width: 100%;
}

.edit-form .form-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}

.edit-form .actions {
    float: right;
}

.edit-form a {
    text-decoration: underline;
}